

body {
    background-color: #e6e8d3;
}


*{
    box-sizing: border-box;
}

div.img-container{
    max-height: 300px;
    float: center;
    width: 100%;
    padding: 10px;
}

div.clearfix::after{

    content:"";
    clear: both;
    display: table;
}

div.text_body {
    color: #28292b;
    text-align: center
}

p {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.education_header{
    font-family: 'Franklin Gothic Medium';
    border: #28292b;
}

div.education{
    font-family: 'Franklin Gothic Medium';
    
}

div.project_header_1{
    font-family: 'Franklin Gothic Medium';
}

div.project_1{
    font-family: 'Franklin Gothic Medium';

}

div.project_header_2{
    font-family: 'Franklin Gothic Medium';
}

div.project_2{
    font-family: 'Franklin Gothic Medium';
    
}

div.career_header{
    font-family: 'Franklin Gothic Medium';
}

div.career_header_1{
    font-family: 'Franklin Gothic Medium';
}

div.career_1{
    font-family: 'Franklin Gothic Medium';

}

div.career_header_2{
    font-family: 'Franklin Gothic Medium';
}

div.career_2{
    font-family: 'Franklin Gothic Medium';

}

div.art_header{
    font-family: 'Franklin Gothic Medium';
}

div.art_1{
    font-family: 'Franklin Gothic Medium';

}